@import "./scss/desktop.scss";
@import "./scss/mobile.scss";

/* .container class */
.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 20px;
}

/* .row class */
.row {
  display: flex;
  flex-wrap: wrap;
}

.box-grid {
  display: block; /* Default display style */

  /* Media query for screens with a maximum width of 600px */
  @media (max-width: 600px) {
    display: none; /* Hide the component */
  }
}

.box-grid-mobile {
  display: none; /* Default display style */

  /* Media query for screens with a maximum width of 600px */
  @media (max-width: 600px) {
    display: block; /* Hide the component */
  }
}

.title {
  color: white;
  font-size: larger;
}
