.container .row.boxes {
  margin-bottom: 25px;
}

.col-3 {
  flex: 0 0 26.2%;
  max-width: 26.2%;
}

.col-4 {
  flex: 0 0 33.3%;
  max-width: 33.3%;
}

.col-5 {
  flex: 0 0 40.5%;
  max-width: 40.5%;
}

.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.box1 {
  height: 400px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box2 {
  height: 175px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box3 {
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box4 {
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box5 {
  height: 100px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box6 {
  height: 200px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box7 {
  height: 325px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box8 {
  height: 200px;
  margin: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.box9 {
  height: 100px;
  margin-top: 25px;
  margin-left: 10px;
  margin-right: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
