@media (max-width: 600px) {
  .col-3 {
    flex: 0 0 26.2%;
    max-width: 26.2%;
  }

  .col-4 {
    flex: 0 0 33.3%;
    max-width: 33.3%;
  }

  .col-5 {
    flex: 0 0 40.5%;
    max-width: 40.5%;
  }

  .col-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }

  .col-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }

  .box1 {
    height: 150px;
  }

  .box2 {
    height: 150px;
  }

  .box3 {
    height: 150px;
  }

  .box4 {
    height: 150px;
  }

  .box5 {
    height: 150px;
  }

  .box6 {
    height: 150px;
  }

  .box7 {
    height: 150px;
  }

  .box8 {
    height: 150px;
  }

  .box9 {
    height: 150px;
  }
}
